<h1>Sign up to start reviewing beaches!</h1>

<%= render partial: "layouts/errors", locals: { object: @user } %>

<%= form_for(@user) do |f| %>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname %><br/>

    <%= f.label :email %>
    <%= f.email_field :email %><br/>

    <%= f.label :password %>
    <%= f.password_field :password %><br/>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br/>

    <%= f.submit "Sign Up" %>
<% end %>