    
    <%= f.label :beach %>
    <%= f.collection_select :beach_id, @beaches || [], :id, :name, prompt: "Select beach" %><br>
<!-- Nested form -->
    <p>Or create a new beach</p>
    
        <%= f.fields_for :beach do |beach_fields| %>
            <%= beach_fields.label :name %>
            <%= beach_fields.text_field :name %>
            <%= beach_fields.label :city %>
            <%= beach_fields.text_field :city %>
            <%= beach_fields.label :shore %>
            <%= beach_fields.text_field :shore %>
        <% end %>