    
    <%= f.collection_select :beach_id, @beaches || [], :id, :name, prompt: "Select beach", class:'form-control' %>
    <br><br>

<!-- Nested form -->
    <div class='container border bg-light'>
    <p class='lead'>Or create a new beach</p>
    
        <%= f.fields_for :beach do |beach_fields| %>
            <div class="form-row form-group">
                <div class="col">
                    <%= beach_fields.label :name %>
                    <%= beach_fields.text_field :name, class:'form-control' %>
                </div>
                <div class="col">
                    <%= beach_fields.label :city %>
                    <%= beach_fields.text_field :city, class:'form-control' %>
                </div>
                <div class="col">
                    <%= beach_fields.label :shore, "Shore (North, South, East, West)" %>
                    <%= beach_fields.text_field :shore, class:'form-control' %>
                </div>
            </div>
        <% end %>
        </div>