<h1>New Review</h1>

<%= form_for(@review) do |f| %>

    <%= f.label :rating %>
    <%= f.number_field :overall_rating, min: 1, max: 5 %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :overall_description %>
    <br>
    <%= f.label :parking_rating %>
    <%= f.number_field :parking_rating, min:1, max:5 %>
    <br>
    <%= f.label :parking_description %>
    <%= f.text_area :parking_description %>
    <br>
    <%= f.label :surfing_rating %>
    <%= f.number_field :surfing_rating, min:1, max:5 %>
    <br>
    <%= f.label :surfing_description %>
    <%= f.text_area :surfing_description %>


<% end %>