<h1>New Review</h1>

<%= form_for(@review) do |f| %>

    <%= f.label :beach %>
    <%= f.collection_select :beach_id, @beaches, :id, :name %><br />


    <%= f.label :rating %>
    <%= f.number_field :overall_rating, min: 1, max: 5 %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :overall_description %>
    <br>
    <%= f.label :parking_rating %>
    <%= f.number_field :parking_rating, min:1, max:5 %>
    <br>
    <%= f.label :parking_description %>
    <%= f.text_area :parking_description %>
    <br>
    <%= f.label :surfing_rating %>
    <%= f.number_field :surfing_rating, min:1, max:5 %>
    <br>
    <%= f.label :surfing_description %>
    <%= f.text_area :surfing_description %>
    <br>

    Good for:
    Swimming? <%= f.check_box :swimming %>
    Snorkeling? <%= f.check_box :snorkeling %>
    Paddleboarding? <%= f.check_box :paddleboarding %>
    Sunrise? <%= f.check_box :sunrise %>
    Sunset? <%= f.check_box :sunset %>

    <%= f.submit "Create Review" %>


<% end %>