<h1><%= @review.beach.name %> Review</h1>
<br>
 <div class='container'>
  <%= display_image(@review) %>
</div>
<br>
<div class='container'>
  <h3>Overall Rating (1-5): <%= @review.overall_rating %></h3>
  Descrption: <%= @review.overall_description %><br><br>

  <h3><%= display_parking_rating(@review) %></h3>
    <%= display_parking_description(@review) %>
  <h3><%= display_surfing_rating(@review) %></h3>
    <%= display_surfing_description(@review) %>


<h3>Good for: </h3>

<%= list_attr(@review) %>

<% if @review.user == current_user %>
  <%= link_to "Edit Review", edit_review_path(@review) %>
  <%= link_to "Delete Review", review_path(@review), method: :delete  %>
<% end %>

</div>