<h1><%= @review.beach.name %> Review</h1>
<br>
 
 <%= display_image(@review) %>

<br><br>

Overall Rating (1-5): <%= @review.overall_rating %><br>
Descrption: <%= @review.overall_description %><br><br>

<%= display_parking_rating(@review) %>
<%= display_parking_description(@review) %>
<%= display_surfing_rating(@review) %>
<%= display_surfing_description(@review) %>


Good for: 

<%= list_attr(@review) %>

<% if @review.user == current_user %>
  <%= link_to "Edit Review", edit_review_path(@review) %>
  <%= link_to "Delete Review", review_path(@review), method: :delete  %>
<% end %>

