<h3>All Beaches</h3>
<br>
    <%= form_tag("/beaches", method: "get") do %>
        Filter by shore: <%= select_tag "shore", options_for_select(["North","South","East","West"]), include_blank: true %>
        <%= submit_tag "Filter" %>
    <% end %>
    <%= link_to "Clear Filter", beaches_path %>

<ul>
<% @beaches.each do |beach| %>
    <li>
        <%= link_to beach.name, beach_path(beach) %>: <%= beach.reviews.average_rating %> stars (average from <%= beach.reviews.size %> reviews)
    </li>
<% end %>
</ul>