<div class='container'>
    <h1><%= @beach.name %>, <%= @beach.city %></h1>
    <h4><%= @beach.shore %> Shore</h4>

    <p>Average Rating: <%= @beach.reviews.average_rating %></p>

    <%= link_to "View all reviews for #{@beach.name}", beach_reviews_path(@beach.id) %>
    <br>
    <%= link_to "Create a review for #{@beach.name}", new_beach_review_path(@beach.id) %>
</div>
<br>
<div class='container-fluid'>
        Photos from reviewers:<br>
        <% @beach.reviews.each do |review| %>
            <%= display_image(review) %>
        <% end %>
        </div>
    </div>
</div>
<br>